
/*font*/

$font-active: #404041;
$font-unactive: #c4c6cc;
$font-icon: #C0BFBF;
$font-rise:#2ddaa5;
$font-form: #606266;
/*formatting*/

$borderColor: #e7e7e8;
/*Standard color*/

$red: #e0301e;
$orange: #f9b115;
$brown: #8b1b1b;
$green: #52c41a;
$blood:#a89595;
$blue: #6d9aff;
/*background*/

$background: #f0f0f2;
$dark_grey: #6d6e71;
$light_grey: #939499;
$scroll_bar: #bfbfbf;
$shadow: rgba(64, 64, 65, 0.1);
$shadow2:0 2px 6px rgba(168, 168, 168, 0.3);
$box-shadow: 0px 2px 4px $shadow;

// input Button大小
$nomalWidth:38px;
$nomalFontSize:16px;
$nomalHeight:38px;
$smallWidth:32px;
$smallFontSize:14px;
$smallHeight:32px;
/*  页面标记 */
$icon_yellow: #f9b115;

//文本超出
@mixin textover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*穿参式样式组件*/

@mixin portrait($width:30px) {
  width: $width;
  height: $width;
  overflow: hidden;
  border-radius: 100%;

  img {
    width: 100%;
    display: block;
  }
}